.topHeader {
  background: #f8f8f8;
  font-size: 16px;
  font-family: Oxygen;
  font-weight: 400;
  transition: all 0.5s;
  color: #038740;
  padding: 10px 0;

  .socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      color: #038740;
      line-height: 0;
      transition: 0.3s;
      margin-left: 20px;
      cursor: pointer;

      span {
        position: relative;

        &:after {
          position: absolute;
          display: block;
          bottom: -6px;
          left: -50%;
          width: 100%;
          -ms-transform: scaleX(0);
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          border-top: 1px solid #038740;
          content: "";
          padding-bottom: inherit;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          &:after {
            backface-visibility: hidden;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            transition: all 0.2s ease-in-out;
            left: 0%;
          }
        }
      }
    }
  }
}

.mainHeader {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;

  .logo {
    flex: 1;

    img {
      max-width: 225px;
      display: inline-block;
    }
  }

  .cart {
    display: flex;
    align-items: flex-end;

    svg {
      margin-bottom: 5px;
      padding: 2px;

      &:hover {
        border-radius: 50%;
        border: 2px solid #038740;
      }
    }
  }

  .navBar {
    margin-right: 50px;

    display: flex;
    flex-direction: row;
    background: #f8f8f8;
    font-size: 16px;
    font-family: Oxygen;
    font-weight: 400;
    transition: all 0.5s;
    align-items: flex-end;

    .menuItem {
      a {
        border-bottom: solid 2px transparent;
        color: #000000;
        font-size: 17px;
        margin-right: 20px;
        margin-left: 20px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          border-bottom: solid 2px #00853e;
        }
      }

      .submenu {
        margin-top: 10px;
        list-style: none;
        padding-left: 0;
        position: absolute;
        background: #038740;
        min-width: 200px;
        display: none;

        z-index: 99;
        margin: 0px 0 0 10px;

        li {
          padding: 10px 5px;
          transition: 0.5s;

          &:hover {
            background: #fff;
          }

          a {
            border: 0px;
            color: #000000;
            font-size: 17px;
            margin-right: 6px;
            margin-left: 10px;
            text-transform: uppercase;
            transition: 0.5s;

            &:hover {
              color: #038740;
            }
          }
        }
      }
      .showSubMenu {
        display: block;
      }
    }
  }
}
